* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* Header: barra superiore */
header {
    width: 100%;
    background-color: #ff6900;
    box-shadow: 0px 1px 2px #686868;
    font-family: 'HelveticaNow', Helvetica, sans-serif;
}

.contenitoreHeader {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}

.categoriaHeader {
    flex-basis: 13%;
    display: flex;
}

.categoriaHeader ul {
    list-style-type: none;
    display: flex;
    font-weight: 700;
    align-items: center;
}

.categoriaHeader ul li {
    padding: 0 5px;
    font-size: 0.8rem;
}

.categoriaHeader ul li a {
    color: #fff;
    text-decoration: none;
}

.categoriaHeader ul li a:hover {
    text-decoration: underline;
}

.logoHeader {
    flex-basis: 82%;
    align-self: center;
    text-align: center;
}

.logoHeader a img {
    width: 110px;
    padding: 14px 0;
}

.gestioneAccountHeader {
    flex-basis: 5%;
    display: flex;
}

.gestioneAccountHeader ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    column-gap: 8px;
}

.gestioneAccountHeader ul li {
    width: 12px;
}

/* Main: contenuto principale */
.contenitoreMain {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    max-width: 1100px;
    margin: 50px auto;
}

.cartellaInfo {
    width: calc(100% / 3 - 16px);
    position: relative;
    margin: 0 8px;
    cursor: pointer;
}

.cartellaInfo img {
    width: 100%;
}

.cartellaInfo p {
    font-size: 0.7rem;
}

.cartellaInfo p span {
    color: red;
    font-weight: 600;
}

.cartellaInfo h2 {
    font-size: 0.8rem;
}

.preferito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
}

.preferito h2 {
    font-size: 1.9rem;
}

.preferito h2:hover {
    color: red;
}

.sconto {
    width: 41px;
    text-align: center;
    padding: 4px 0;
    background-color: red;
    color: #fff;
    font-weight: 600;
    position: absolute;
    bottom: 75px;
}

.sostenibilita {
    width: 80px;
    text-align: center;
    padding: 4px 0;
    background-color: #008000;
    color: #fff;
    font-weight: 600;
    position: absolute;
    bottom: 75px;
    left: 44px;
}

.posizioneZero{
    left: 0px;
}

footer{
    width: 100%;
    background-color: #1a1a1a;
    font-family: 'HelveticaNow', Helvetica, sans-serif;
    display: flex;
    height: 100px; /* da rimuovere */
}

.infoSocieta{
    flex-basis: 50%;
    height: 100%; /* da rimuovere */
    border: 1px solid red;
}

.social{
    flex-basis: 50%;
    height: 100%; /* da rimuovere */
    border: 1px solid orange;
}